In [1]:
#Demonstration of Integer-Addition of two integer number  
a=10
b=15
c=a+b
print(c)

25

In [2]:
#Demonstration of Float Number- Calculate Simple Interest  
princ=float(input("Enter the Principal Amount:"))
rate=float(input("Enter the Rate of interest:"))
time=float(input("Enter the Time period:"))
si=(princ*rate*time)/100
print("The Simple Interest=",si)

Enter the Principal Amount:500
Enter the Rate of interest:8.5
Enter the Time period:5.5
The Simple Interest= 233.75

In [3]:
#Demonstration of Complex Number- Sum of two Complex  Numbers
a= 7+8j
b =3.1+6j
c=a+b
print("Sum of two Complex Numbers")
print(a,"+",b,"=",c)

Sum of two Complex Numbers
(7+8j) + (3.1+6j) = (10.1+14j)

In [7]:
#Demonstration of Boolean Type
x=True
print(x)
print(type(x))

True
<class 'bool'>

In [2]:
#Demonstration of Set :
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [4]:
#Demonstration of Dictionary- Program to save Phone nos. in dictionary &  print it

Phonedict={"Madhav":9876567843,"Dilpreet":7650983457,"Murugan":9067208769,"Abhinav":9870987067}
print(Phonedict)

{'Madhav': 9876567843, 'Dilpreet': 7650983457, 'Murugan': 9067208769, 'Abhinav': 9870987067}

In [6]:
#Demonstration of String- To input string & print it  
my_name=input("What is your Name? :")  
print("Greetings!!!")
print("Hello!",my_name)

What is your Name? :poo
Greetings!!!
Hello! poo

In [7]:
#Demonstration of List- Program to input 2 list & join it 
List1=[12,78,45,30] 
List2=[80,50,56,77,95]
List=List1+List2  
print("Joined List :",List)

Joined List : [12, 78, 45, 30, 80, 50, 56, 77, 95]

In [9]:
#Demonstration of Tuple -
thistuple = ("apple","banana","cherry","apple","cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')